* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: 100vh;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

.ip {
  position: absolute;
  top: 7em;
  font-size: 3rem;
}

.rip {
  position: absolute;
  bottom: 10em;
}
